 <table>
  <tr>
    <td></td>
    <% @months.each do |m| %>
    <th scope="col"><%= m %></th>
    <% end %>
    <th scope="col">Average</th>
    <th scope="col">Min</th>
    <th scope="col">Max</th>

  </tr>
  <% @stations.each do |s| %>
      <tr>
    <th scope="row"><%= s.name %></th>
        <% @months_n.each do |m| %>
    <td> <%= s.get_values(m,params[:id],s.id) %> </td>
        <% end %>
        <td> <%= s.get_values_average_per_station(params[:id],s.id) %> </td>
        <td> <%= s.get_value_min_per_station(params[:id],s.id) %> </td>
        <td> <%= s.get_value_max_per_station(params[:id],s.id) %> </td>
   <% end %>
   </tr>

</table>