<%# <script src="the-downloaded-jquery-file.js">
<script src="you-file.js"> %>
 
 <h1><%=  @parameter.name %></h1>


 <%= form_with url: url_for(:controller => "parameters", :action => "search"), method: :post, :remote => true,:format => :js, 
 html: {} do |form|  %>


     <h3>Filter by observation station</h3>
     <%= form.select "station", options_from_collection_for_select(Station.all, :id, :name), {},  { :multiple => true }%>

  <div class="btn"><%= form.submit %></div>
   <% end %>

   <div id="data" class="data" > </div>



<div class="data">
<%= render :partial => 'search' %>
</div>




