<script src="https://www.gstatic.com/charts/loader.js"></script>
 <script>
     google.charts.load('current',{packages:['corechart']});
     google.charts.setOnLoadCallback(drawChart);

     function drawChart() {
         // Create and populate the data table.
         var months =  <%= @months.to_json.html_safe %>;
         var values = <%= @values %>;



         var data = new google.visualization.DataTable();
         data.addColumn('string', 'months');
         data.addColumn('number', "average values");

         for(i = 0; i < months.length; i++)
             data.addRow([months[i], values[i]]);
        
         new google.visualization.LineChart(document.getElementById('myChart')).
         draw(data, {});
     }
 </script>

<h1><%=  @parameter.name + ", measured in "+ @parameter.measuring_unit%></h1>

<%= link_to 'Back', parameters_path, class:"link"%>
<%= link_to 'See data per station', parameter_show_path_path, class:"link" %>

<div style="width:100%;overflow: hidden;">

    <div style="width:50%;float: left;">
      <div id="myChart" style="max-width:700px; height:400px"></div>
    </div>
  <div style="width:50%;float: right;">
      <%= render 'list'%>
    </div>
</div>
